<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

    <appender name="default.console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%C{1}] %m%n"/>
        </layout>
    </appender>

    <logger name="edu.agh.iga.adi.giraph" additivity="false">
        <level value="error" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="org.apache.giraph.master.MasterThread" additivity="false">
        <level value="info" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="org.apache.giraph.master.BspServiceMaster" additivity="false">
        <level value="info" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="org.apache.giraph.worker.BspServiceWorker" additivity="false">
        <level value="info" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="org.apache.giraph.yarn" additivity="false">
        <level value="info" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="org.apache.giraph.zk.ZooKeeperManager" additivity="false">
        <level value="info" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="org.apache.giraph.graph.GraphTaskManager" additivity="false">
        <level value="info" />
        <appender-ref ref="default.console"/>
    </logger>

    <logger name="edu.agh.iga.adi.giraph.direction.IgaPartitionerFactory" additivity="false">
        <level value="debug" />
        <appender-ref ref="default.console" />
    </logger>

    <root>
        <priority value="error"/>
        <appender-ref ref="default.console"/>
    </root>

</log4j:configuration>